.main {
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
}

.book {
  position: relative;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  background-color: rgb(172, 61, 61);
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;

  margin-bottom: 1rem;
  p {
    height: 270px;
    overflow: auto;
    padding: 0 2.2rem;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.cover {
  top: 0;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px cyan;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  img {
    width: 100px;
  }
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s 0.2s;
  -webkit-transform: rotateY(-80deg);
  -ms-transform: rotateY(-80deg);
  transform: rotateY(-80deg);
}
